# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Other
.DS_Store
.env

# Hardhat files
cache
artifacts
hardhat/ignition/deployments/chain-11155111/deployed_addresses.json
hardhat/ignition/deployments/chain-11155111/journal.jsonl
hardhat/ignition/deployments/chain-11155111/build-info/b9d45267e7b3fda448a662e846f92653.json
